/* PaymentDetails.css */
.payment-container {
    padding: 20px;
    width: 100%;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .payment-grid-item {
    padding: 8px;
  }
  
  .payment-textfield {
    width: 100%;
  }
  
  .payment-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #1976d2;
    color: white;
  }
  .payment-button:hover {
    background-color: #115293;
  }
  